@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
section{
    position: relative;
}

:root {
    --primary-color: #1C1678; 
    --secondary-color: #8576FF;
    --three-color: #7BC9FF;
    --four-color: #A3FFD6;
}

header {
    background: url("../img/Group\ 7.png");
    width: 100%;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#hero {
    width: 100%;
    height: 100vh;
}

#hero .navbar {
    font-size: 30px;
}

.nav-item a {
    color: #FFF;
    margin: 0 20px 0 10px;
}

.contenido-hero h2 {
    font-size: 100px;
    color: #7BC9FF;
    margin-top: 300px;
    position: absolute;
    left: 200px;
}

.contenido-hero h1{
    font-size: 40px;
    color: #FFF;
    position: absolute;
    top: 500px;
    left: 220px;

}

.icon-hero img {
    border-radius: 50% 50%;
    margin-top: 150px;
    width: 550px;
    height: 550px;
    right: 300px;
    position: absolute;
}

/* Sección Sobre Mí */
#sobre-mi {
    width: 100%;
    height: 50vh;
}

#sobre-mi article {
    padding: 100px 50px;
    text-align: center;
}

#sobre-mi p {
    font-size: 35px;
    margin-right: 100px;
}

#sobre-mi button {
    font-size: 30px;
    border-radius: 20px;
    background: #1C1678;
}

#sobre-mi button a {
    color: #FFF;
    padding: 30px;
}

.info-about {
    font-size: 50px;
    text-align: center;
}

.info-about h2 {
    font-size: 60px;
    font-weight: 600px;
    color: var(--secondary-color);
}
.info-about h3{
    font-size: 40px;
}

.social-icons a {
    text-decoration: none;
    color: var(--primary-color);
}
#sobre-mi i{
    margin-right: 15px;
}

/* Sección Habilidades */
#habilidades {
    width: 100%;
    height: 75vh;
}

#habilidades .container {
    background: #8676ff6b;
    padding: 70px;
}

#habilidades h2 {
    font-size: 60px;
    text-align: center;
    color: var(--primary-color);
    margin: 0px 0 50px 0;
}

#habilidades h2::after {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 20px;
}

#habilidades p {
    font-size: 35px;
}

#habilidades i {
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 15px;
}

#habilidades .hab {
    justify-content: center;
    padding: 50px 0 30px 50px;
}
.hab img {
    justify-content: center;
   padding-right: 15px;
   width: 50px;
   height: 50px;
}

/* -------------------------------------------------------------- */
#portafolio {
    width: 100%;
    height: 100vh;
}

#portafolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portafolio .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portafolio img {
    width: 380px;
    height: 300px;
}

#portafolio h2 {
    font-size: 60px;
    text-align: center;
    color: var(--primary-color);
    margin: 50px 0 50px 0;
    width: 100%;
}

#portafolio h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 20px;
}

.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Espacio entre tarjetas */
}

.tarjeta-cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    /* Opcional: agregar un borde o sombra para mejor visualización */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.tarjeta-titulo {
    margin: 15px 0 10px 0;
}

.tarjeta-texto {
    margin: 0;
}

/* --------------------------------------------------------------------------- */

#estudios{
    width: 100%;
    height: 70vh;

}
#estudios h2{
    font-size: 60px;
    text-align: center;
    color: var(--primary-color);
    margin: 50px 0 90px 0;
}
#estudios  h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 20px;
}
.imagenest img{
    position: absolute;
    left: 800px;
}
#estudios p{
    font-size: 30px;
}
.est2021{
    margin-bottom: 200px;
}
.est{
    position: absolute;
    left: 1150px;
}
.estpython{
    position: absolute;
    top: 240px;
    left: 390px;
}
#estudios b{
    color: var(--three-color);
    font-weight: bold;
    font-size: 30px;
}

/* ------------------------------------------------------------------------------------- */
#experiencia{
    width: 100%;
    height: 50vh;
}
#experiencia h2{
    font-size: 60px;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 60px;
}
#experiencia  h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 20px;
}
.info-experiencia p{
    font-size: 30px;
    text-align: left;
}
.icon-experiencia i{
    font-size: 400px;
    position: absolute;
    color: var(--three-color);
    right: 350px;
}


/* --------------------------------------------------------------------------------------------- */
#pasatiempos{
    width: 100%;
    height: 60vh;

}
#pasatiempos h2{
    font-size: 50px;
    text-align: center;
    color: var(--primary-color);
    margin: 50px 0 50px 0;
}
#pasatiempos  h2::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 20px;
}
.info-pasatiempo p{
    font-size: 30px;
    text-align: right;
}
.imagen-pasatiempo img{
    width: 400px;
    height: 400px;
    position: absolute;
}


/* ----------------------------------------------------------------------------------------------- */
footer{
    width: 100%;
    height: 30vh;
    background-color: #7BC9FF;
}
.contacto{
    position: relative;
}

  
  /* Parte superior del footer */
.footer-top {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 30px 10px;
    margin-top: 100px;
    position: absolute;
    top: -50px;
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-evenly; /* Espacio entre los elementos */
    gap: 10px;
    border-radius: 30px;
    
}
  
.footer-top h2 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}
  
.footer-top p {
    margin: 10px 0;
    font-size: 30px;
}
  
.footer-top button {
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
.footer-top button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
  
  /* Parte inferior del footer */
.footer-bottom {
    background-color: var(--primary-bg);
    color: var(--primary-color);
    text-align: center;
    padding: 120px 10px;
}
  
.footer-bottom p {
    margin: 10px 0 10px;
    font-size: 25px;
}
  
  /* Enlaces sociales */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.redes-sociales a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}
  
.redes-sociales a:hover {
    color: var(--four-color);
}
.redes-sociales i{
    font-size: 50px;
}

.contacto::before {
    content: "\f109"; /* Código del icono FontAwesome (ejemplo: ícono de hogar) */
    font-family: 'FontAwesome'; /* Asegúrate de haber cargado FontAwesome */
    font-size: 40px;
    color: #333;
    position: absolute;
    top: 50px;
    left: 15%;
    transform:rotate(-45deg);
    z-index: 10;
  }

